<div >
    <app-carousel></app-carousel>
    
</div>
<!-- 
<div>Some tags before</div>
  <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide>
        <img src="https://images.unsplash.com/photo-1625401878457-a8fe61ccc6f8?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
    </ng-template>  
    <ng-template carouselSlide>
        <img src="https://images.unsplash.com/photo-1625401878457-a8fe61ccc6f8?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
    </ng-template>  
    <ng-template carouselSlide>Slide 3</ng-template>  
  </owl-carousel-o>
  <div>Some tags after</div>Slide 2 -->